*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

body{
    font-family: 'Courier New', Courier, monospace
}

.main{
    width: 900px;
    height: 360px;
    margin: 30px auto;
    overflow: hidden;
}

.banner{
    width: 900px;
    height: 360px;
    overflow: hidden;
    position: relative;
  
}

.banner-slide{
    width: 900px;
    height: 360px;
    position: absolute;
    background-repeat: no-repeat;
   
}

.slide1{
    background-image: url("../img/one.png");
}

.slide2{
    background-image: url("../img/two.png");
}

.slide3{
    background-image: url("../img/three.png");
}